<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

<!-- Business Services -->
		
		<bean id="AuthenticationService" class="org.sourcelesslight.services.AuthenticationService">
			<property name="sessionFactory" ref="sessionFactory"/>
			<property name="hasher" ref="SHA256Hasher"/>
		</bean>
		
		<bean id="UserService" class="org.sourcelesslight.services.UserService">
			<property name="sessionFactory" ref="sessionFactory"/>
			<property name="hasher" ref="SHA256Hasher"/>
		</bean>
		
		<bean id="PreferencesService" class="org.sourcelesslight.services.PreferencesService">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="FriendRequestService" class="org.sourcelesslight.services.FriendRequestService">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="GenericService" class="org.sourcelesslight.services.GenericService" />
		
		<!-- Small Bean Classes -->
		
		<bean id="SHA256Hasher" class="org.sourcelesslight.hashing.SHA256Hasher" />	
		
</beans>