<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

		
		<!-- Hibernate - Database Configuration -->
		
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
				 <property name="driverClassName" value="org.postgresql.Driver"/>
 				 <property name="url" value="jdbc:postgresql://${db_ip}:${db_port}/${db_name}"/>
 				 <property name="username" value="${db_username}" />
        		<property name="password" value="${db_password}" />
		</bean>
		
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
				<property name="dataSource" ref="dataSource"/>
					
				<!-- Packages to Scan for Hibernate Annotations -->
				<property name="packagesToScan">
					<list>
						<value>org.sourcelesslight.model</value>
						<value>com.sourcelesslight.aspects</value>
					</list>
				</property>
				
				<property name="hibernateProperties">
					<props>
						<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
						<prop key="hibernate.show_sql">true</prop>
						<prop key="hibernate.cache.use_second_level_cache">true</prop>
						<prop key="hibernate.cache.use_query_cache">true</prop>
						<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
						<prop key="net.sf.ehcache.configurationResourceName">main/resources/ehcache.xml</prop>
						<prop key="hibernate.hbm2ddl.auto">update</prop>
						<prop key="hibernate.current_session_context_class">thread</prop>
						<prop key="hibernate.connection.pool_size">1</prop>
					</props>
				</property> 
		</bean>
		
		<!--  Messages and Property Files -->
		
		<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
			<property name="basenames">
				<list>
					<value>classpath:/main/resources/resourcebundles/spring_messages</value>
					<value>classpath:/main/resources/resourcebundles/spring_logging_messages</value>
				</list>
			</property>
		</bean>
		 
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<value>classpath:/main/resources/resourcebundles/spring.socialnetworking.properties</value>
				</list>
			</property>
		</bean>
		
		<!-- Business Services -->
		
		<bean id="AuthenticationService" class="org.sourcelesslight.services.AuthenticationService">
			<property name="sessionFactory" ref="sessionFactory"/>
			<property name="hasher" ref="SHA256Hasher"/>
		</bean>
		
		<bean id="UserService" class="org.sourcelesslight.services.UserService">
			<property name="sessionFactory" ref="sessionFactory"/>
			<property name="hasher" ref="SHA256Hasher"/>
		</bean>
		
		<bean id="PreferencesService" class="org.sourcelesslight.services.PreferencesService">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="FriendRequestService" class="org.sourcelesslight.services.FriendRequestService">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="GenericService" class="org.sourcelesslight.services.GenericService" />
		
		<!-- Small Bean Classes -->
		
		<bean id="SHA256Hasher" class="org.sourcelesslight.hashing.SHA256Hasher" />
		
		<!-- Aspect Oriented Programming -->

			<aop:aspectj-autoproxy/>
			
		<!-- AOP and Logging Related Beans -->
    	
    	<bean name="loggingAspect" class="org.sourcelesslight.aspects.LoggingAspect" />
		
    	<!-- Packages to Scan for Spring Annotations -->
    	<context:component-scan base-package="org.sourcelesslight.services, org.sourcelesslight.aspects"/>
		<context:annotation-config/>
		
</beans>