<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">


<!-- Hibernate - Database Configuration -->
		
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			 	<property name="driverClassName" value="org.postgresql.Driver"/>
			 	<property name="url" value="jdbc:postgresql://${db_ip}:${db_port}/${db_name}"/>
			 	<property name="username" value="${db_username}" />
				<property name="password" value="${db_password}" />
		</bean>
		
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
				<property name="dataSource" ref="dataSource"/>
					
				<!-- Packages to Scan for Hibernate Annotations -->
				<property name="packagesToScan">
					<list>
						<value>org.sourcelesslight.model</value>
						<value>com.sourcelesslight.aspects</value>
					</list>
				</property>
				
				<property name="hibernateProperties">
					<props>
						<!-- ESSENTIAL CONFIGURATION -->
						<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
						<prop key="hibernate.show_sql">true</prop>
						<prop key="hibernate.hbm2ddl.auto">update</prop>
						<prop key="hibernate.current_session_context_class">thread</prop>
						
						<!-- C3P0 CONNECTION POOL CONFIG -->
						<prop key="hibernate.c3p0.min_size">5</prop>
						<prop key="hibernate.c3p0.max_size">20</prop>
						<prop key="hibernate.c3p0.timeout">300</prop>
						<prop key="hibernate.c3p0.max_statements">50</prop>
						<prop key="hibernate.c3p0.idle_test_period">3000</prop>
						
						<!-- SECOND LEVEL CACHE CONFIG -->
						<prop key="hibernate.cache.use_second_level_cache">true</prop>
						<prop key="hibernate.cache.use_query_cache">true</prop>
						<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
						<prop key="net.sf.ehcache.configurationResourceName">main/resources/ehcache.xml</prop>
						
						<!-- HIBERNATE SEARCH CONFIG -->
						<prop key="hibernate.search.default.directory_provider">filesystem</prop>
						<prop key="hibernate.search.default.indexBase">/var/lucene/indexes</prop>
						<prop key="hibernate.search.lucene_version">LUCENE_CURRENT</prop>
					</props>
				</property> 
		</bean>
		
</beans>